.roboto-font {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    400;
}

/* mobile devices: min-width="375px" */

body {
    display: flex;
    flex-direction: column;

    height: 100vh;
    min-width: 375px;

    font-family: "Roboto", sans-serif;
    margin: 0;
}


/*navigation bar*/

.nav-cont {
    display: flex;

    font-size: 0.8rem;

    min-width: 0;

    background-color: #1F2937;

    
}

.nav-cont img {
    flex: 0 0 auto;

    
    border-radius: 35%;
    height: 50px;
    padding: 0.2rem;

}

ul {
    display: flex;
    list-style-type: none;

    justify-content: space-between;
    gap: 0.4rem;

    margin-left: auto;

    position: relative;
    top: 0.5rem;
    right: 2rem;

}

li {
    text-align: center;
    
}

a {
    
    
    padding: 0.1rem;

    text-decoration: none;
    color: #E5E7EB; 

    justify-content: center;
    align-self: center;
    
}

/*header content*/

.header-cont {
    display: flex;
    min-width: 0;

    flex: 1;
    flex-direction: column;
    background-color: #1F2937;
    color: #E5E7EB;
}

#desktop-head {
    display: flex;
    flex-direction: column;
}

#desk-cont {
    display: flex;

    flex-direction: column;
    width: 100%;

    margin: 0;
    padding: 0;
}
.header-cont h1 {
    font-size: 1rem;
    justify-content: center;
    align-self: center;

    margin: 0;
    padding: 0.4rem;
}

.header-cont p {
    text-align: center;
    font-size: 0.8rem;
}

.header-cont #desktop-head button {
    width: 25%;
    align-self: center;
    justify-content: center;

    padding: 1rem;
    background-color: #3882F6;
    color: #E5E7EB;

    border: none;
    border-radius: 15%;

    margin: 0.4rem;
}

.header-cont img {
    border: 2px groove black;
    margin: 0.4rem 0 0.4rem 0;
    
    image-rendering: optimizeSpeed;
}

/*Animal section*/

.anim-sect {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    flex-wrap: wrap;
}

.anim-sect h2 {
    align-self: center;

    font-size: 1rem;
}

.anim-img {
    flex: 1;
}

.anim-img img{
    width: 200px;
    height: fit-content;

    justify-content: center;
    align-items: center;

    border: 2px solid #3882F6;
    border-radius: 20%;

    box-shadow: 0 2px 2px 0;

    margin: 0 0 1rem 0;

}

.anim-img figcaption {
    text-align: center;

    font-size: 0.9rem;
    font-weight: 300;
}

/*Quote Section*/

.quote-cont {
    flex: 1;
    background-color: #E5E7EB;

    font-size: 0.9rem;
}

.quote-cont blockquote{
 text-align: center;
}

.author {
    
    text-align: end;
    margin: 0;
    padding: 0.1rem;
    
}

/*Call to Action*/ 

#call-to-act {
    display: flex;
    flex-wrap: wrap;
     justify-content: center;
    align-items: center;

    padding: 2rem;
}

.call-cont {
    width: 80%;
    height: fit-content;
   background-color: #3882F6;

    text-align: center;

    border-radius: 15%;
    color: #E5E7EB;
    
}

.call-cont h3 {
    font-size: 0.9rem;
    margin: 0;
    padding: 0.5rem;
}

.call-cont p {
    font-size: 0.8rem;

    margin: 0;
    padding: 0.4rem;
}

.call-cont button{
    background: transparent;

    color: #E5E7EB;
    border: 2px solid #E5E7EB;

    padding: 0.3rem;
    margin: 0.5rem;
    border-radius: 15%;

    width: 40%;
}

.call-cont button:active {
    background-color: #000000;

    border: none;
}

/*The Footer*/
.foot-cont {
    
    text-align: center;
    align-self: center;

    background-color: #1F2937;
    width: 100%;
    
}

.foot-cont p { 
    color: #E5E7EB;
}

/* Tablet: min-width="768px"*/

@media screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        min-width: 768px;
    }

    /*Navigation*/
    .nav-cont {
        font-size: 1.4rem;

        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .nav-cont img{
        height: 100px;
    }

    /*Header*/

    .header-cont h1 {
        font-size: 1.8rem;
    }

    .header-cont p {
        font-size: 1.5rem;
        font-weight: 300;
    }

    .header-cont button {
        width: 30%;

        padding: 1.5rem;
        margin: 0.8rem;

        font-size: 1.4rem;
    }

    .header-cont button:active {
        background-color: #000000;
        transform: scale(0.9);
    }

    /*Animal Section*/
    .anim-sect h2 {
        font-size: 1.6rem;
    }

   .anim-sect {
    justify-content: center;
    
   }

   .anim-img .group {
    font-size: 1.5rem;
   }

   .anim-img img {
    width: 380px;

    align-items: center;
    justify-content: center;

    margin-top: 2rem;
    margin-bottom: 2rem;
    
   }


/*Quote section*/ 

.quote-cont {
    font-size: 1.3rem;
    padding: 0.4rem;
}

/*Call to action*/

.call-cont h3 {
    font-size: 1.4rem;

}

.call-cont p {
    font-size: 1.2rem;

}

.call-cont button{

    font-size: 1.3rem;
}

/*footer*/

.foot-cont {
    font-size: 1.3rem;
}
}
/*Desktop: min-width="1024px"*/
@media screen and (min-width: 1024px) 
{
   
    /*Navigation*/

    .nav-cont {
        font-size: 2rem;
        width: 100%;
    }

    .nav-cont ul {
        justify-content: center;
        align-items: center;
    }

    .nav-cont a {
        padding: 0 1rem;
    }

    .nav-cont a:hover {
        cursor: pointer;
        text-decoration: underline;
    }

    .nav-cont img {
        
    height: 160px;
    padding: 0.2rem;

    }

    /*Header*/

    

.header-cont {

    flex: 1;
    flex-direction: column;
    background-color: #1F2937;
    color: #E5E7EB;
}

#desktop-head {
    display: flex;
    flex-direction: row;
}

#desk-cont {
    display: flex;

    width: 50%;

    flex-direction: column;
    margin: 3rem;
    padding: 1.5rem;

    background-color: #435266;
    border-radius: 20%;
}
.header-cont h1 {
    font-size: 2rem;
    justify-content: center;
    align-self: center;

    margin: 0;
    padding: 0.4rem;
}

.header-cont p {
    text-align: center;
    font-size: 1.5rem;
}

.header-cont button {
   
 font-size: 1.7rem;
 flex: 1;

 margin: 1.3rem;
 padding: 1.5rem;
}

/*Anim section*/

    .anim-sect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0;

    flex-wrap: wrap;
}

.anim-sect h2 {
    align-self: center;

    font-size: 2rem;
}

.anim-flex {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;



}

.anim-img {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.anim-img figcaption {
    font-size: 1.4rem;
    
}

.anim-img img {
    width: 100%;

}

/*Quote Section*/
.quote-cont {
    padding: 2em;

    font-size: 1.4rem;

    box-shadow: 1px 2px 1px 1px;
}

/*Call to action*/

#call-to-act {
    display: flex;
    flex-wrap: wrap;
     justify-content: center;
    align-items: center;

    
    padding: 3rem;
}

.call-cont {
    width: 70%;
    height: fit-content;
   background-color: #3882F6;

    text-align: center;

    border-radius: 15%;
    color: #E5E7EB;
    padding: 2rem;

    display: flex;
    flex-direction: row;
    
}

.call-cont h3 {
    font-size: 1.7rem;
    background-color: #5995f4;
    margin: 0;

    border-radius: 12%;
   
}

.call-cont p {
    font-size: 1.5rem;

    margin: 0;
    padding: 0.4rem;
}

#call-desk {
    display: flex;
    flex-direction: column;

}

.call-cont button {
    font-size: 1.5rem;
    margin-left: 2rem;

}

.call-cont button:hover {
    border: 3px solid whitesmoke;

    cursor: pointer;
}

/*foot content*/

.foot-cont {
    font-size: 1.5rem;
}

}

/*Large Desktop: min-width="1440px" */
@media screen and (min-width: 1440px) {
    
    /*Navigation Section*/ 

    .nav-cont {
    display: flex;

    font-size: 1.6rem;

    min-width: 0;

    background-color: #1F2937;

    
}

.nav-cont img {
    flex: 0 0 auto;

    
    border-radius: 40%;
    height: 150px;
    padding: 0.2rem;

}

ul {
    align-items: center;

}

li {
    padding: 0.3rem;
}

a:active {
    color: #3882F6;
}
a:hover {
    text-decoration: underline;
}

/*Header Section*/

.header-cont {

    flex: 1;
    flex-direction: column;
    background-color: #1F2937;
    color: #E5E7EB;
}

#desktop-head {
    display: flex;
    flex-direction: row;
}

#desk-cont {
    display: flex;

    width: 50%;

    flex-direction: column;
    margin: 3rem;
    padding: 1.5rem;

    background-color: #435266;
    border-radius: 20%;
}
.header-cont h1 {
    font-size: 2rem;
    justify-content: center;
    align-self: center;

    margin: 0;
    padding: 0.4rem;
}

.header-cont p {
    text-align: center;
    font-size: 1.5rem;
}

.header-cont button {
   
 font-size: 1.7rem;
 flex: 1;

 margin: 1.3rem;
 padding: 1.5rem;

 scale: 1;
 transition: 0.5s;
}

.header-cont button:hover {

    cursor: pointer;
    scale: 0.9;
    transition: 0.4s;
}
/*Anim section*/

    .anim-sect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 0;

    flex-wrap: wrap;
}

.anim-sect h2 {
    align-self: center;

    font-size: 2rem;
}

.anim-flex {
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;



}

.anim-img {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.anim-img figcaption {
    font-size: 1.4rem;
    
}

.anim-img img {
    width: 100%;

}

/*Quote Section*/
.quote-cont {
    padding: 2em;

    font-size: 1.4rem;

    box-shadow: 1px 2px 1px 1px;
}

/*Call to action*/

#call-to-act {
    display: flex;
    flex-wrap: wrap;
     justify-content: center;
    align-items: center;

    
    padding: 3rem;
}

.call-cont {
    width: 70%;
    height: fit-content;
   background-color: #3882F6;

    text-align: center;

    border-radius: 15%;
    color: #E5E7EB;
    padding: 2rem;

    display: flex;
    flex-direction: row;
    
}

.call-cont h3 {
    font-size: 1.7rem;
    background-color: #5995f4;
    margin: 0;

    border-radius: 12%;
   
}

.call-cont p {
    font-size: 1.5rem;

    margin: 0;
    padding: 0.4rem;
}

#call-desk {
    display: flex;
    flex-direction: column;

}

.call-cont button {
    font-size: 1.5rem;
    margin-left: 2rem;

    transition: 0.4s;

}

.call-cont button:hover {
    border: 3px solid whitesmoke;

    background-color: #4874bc;
    transition: 0.4s;

    cursor: pointer;
}

/*foot content*/

.foot-cont {
    font-size: 1.5rem;
}
}